<nav>
    <div class="site-title">
        <a href="/"><h1>DYEP Nabarangpur</h1></a>
        <p>District Youth Employment Portal</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>