<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYEP | BACKEND</title>
</head>
<body>

    <%- include('./partials/nav.ejs')  %>
    

    <div class="about content">
        <h2>Account Page of <%= accessToken %></h2>
        <h2>Previous Stored Token <%= storedToken %></h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo mollitia consectetur nisi itaque ea cum, ab omnis, reprehenderit harum molestias aut atque unde ad quibusdam expedita sapiente voluptatum corporis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo mollitia consectetur nisi itaque ea cum, ab omnis, reprehenderit harum molestias aut atque unde ad quibusdam expedita sapiente voluptatum corporis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo mollitia consectetur nisi itaque ea cum, ab omnis, reprehenderit harum molestias aut atque unde ad quibusdam expedita sapiente voluptatum corporis.</p>
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>