<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DYEP | BACKEND</title>
</head>
<body>

    <%- include('./partials/nav.ejs')  %>

    <h1>Wrong Credential!:(</h1>
    <a href="/login">Login Again</a>
    <h2>District Youth Employment portal</h2>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>